@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  background-color: white;
  font-family: "Montserrat";
  color: rgb(37, 36, 36);
}

/* Navigation bar styling */
#navigation-container {
  width: 100%;
  background-color: white;
  height: 10vh;
  display: flex;
  padding: 10px;
  align-items: center;
  font-family: "Montserrat";
}

#logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

#logo {
  width: 100px;
  filter: grayscale(100%) brightness(50%);
}

.navigation {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%;
}

.nav {
  font-weight: bold;
  text-decoration: none;
  color: rgb(37, 36, 36);
  transition: 0.5s;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  font-family: sans-serif;
}

.nav:hover {
  font-size: 2em;
  background-color: gainsboro;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 90%;
  padding-left: 30%;
}

img {
  width: 48px;
  height: 48px;
}


.education-container {
  display: flex;
  flex-direction: column;
}

.skill-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.education-container {
  display: flex;
  justify-content: center;
}

h1{
	font-size: 50px;
  padding-left: 13%;
}

.navigation a:hover,
.navigation a#active{ 
  background-color: beige;
}

.footer{  
  width: 100vw;
  height: 5vh;
  background-color: rgba(26, 25, 25, 0.945);
  color: white;
  display: flex;  
  justify-content: center;
  align-items: center;
}

