@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* General styling */

body {
  margin: 0;
  background-color: white;
  font-family: "Montserrat";
  color: rgb(37, 36, 36);
}

/* Navigation bar styling */
#navigation-container {
  width: 100%;
  background-color: white;
  height: 10vh;
  display: flex;
  padding: 10px;
  align-items: center;
  font-family: sans-serif;
}

#logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

#logo {
  width: 100px;
  filter: grayscale(100%) brightness(50%);
}

.navigation {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%;
}

.nav {
  font-weight: bold;
  text-decoration: none;
  color: rgb(37, 36, 36);
  transition: 0.5s;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  font-family: "Montserrat";
}

.navigation a:hover,
.navigation a#active {
  background-color: beige;
}

.nav:hover {
  font-size: 2em;
  background-color: gainsboro;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.text-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
}

.email-container {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 20px;
  height: 10%;
  width: 50%;
}

.text h1 {
  font-size: 35px;
}

h4 {
  margin: 0;
}

.email-container,
div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

span {
  color: rgb(57, 57, 248);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  width: 75%;
  height: 100%;
}

.form {
  width: 50%;
  height: 90%;
  border: none;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding-left: 15%;
}

.form input {
  width: 75%;
  height: 40px;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 15px;
  border: none;
  background-color: rgba(201, 201, 201, 0.842);
  margin-bottom: 5px;
}

textarea {
  resize: none;
  width: 75%;
  height: 55%;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 15px;
  border: none;
  background-color: rgba(201, 201, 201, 0.842);
  border: none;
}

.btnSend {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  padding: 10px;
  background-color: rgb(15, 15, 15);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}

.btnSend:hover {
  background-color: rgb(39, 39, 39);
}

input,
textarea:focus {
  border: none;
}

.form h2 {
  margin-top: 20px;
}
