#navigation-container{
	width: 100%; 
	background-color: white;
	height: 100px;	
	display: flex;
}

body{
	margin: 0px; 
	background-color:black;
}

#logo-container{
	width:40%;
	display:flex;
	justify-content: center;

}

#logo{
	height:100%;
	display:flex;
	justify-content: center;
}

.navigation{
	width:60%;
	display:flex;
	justify-content:space-between;
	padding:40px;
	font-size:25px;
	font-family: Arial;
	font-weight:bold;
	
}

a{
	text-decoration: none;
	color: black;
}	